<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 					 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 id="WebApp_ID" version="3.1">
	<!-- 用户控制层 -->
	<servlet>
		<servlet-name>userController</servlet-name>
		<servlet-class>
			cn.ekgc.dkems.controller.UserController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userController</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	<!-- 用户控制层 -->
	
	<!-- 班级控制层 -->
	<servlet>
		<servlet-name>stuClassController</servlet-name>
		<servlet-class>
			cn.ekgc.dkems.controller.StuClassController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stuClassController</servlet-name>
		<url-pattern>/stuClass/*</url-pattern>
	</servlet-mapping>
	<!-- 班级控制层 -->
	
	<!-- 课程控制层 -->
	<servlet>
		<servlet-name>courseController</servlet-name>
		<servlet-class>
			cn.ekgc.dkems.controller.CourseController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>courseController</servlet-name>
		<url-pattern>/course/*</url-pattern>
	</servlet-mapping>
	<!-- 课程控制层 -->
	
	<!-- 编码格式过滤 --> 
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>
			cn.ekgc.dkems.util.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<!-- 编码格式过滤 -->
	
	<!-- 安全验证过滤 --> 
	<filter>
		<filter-name>securityFilter</filter-name>
		<filter-class>
			cn.ekgc.dkems.util.filter.SecurityFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>securityFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<!-- 安全验证过滤 -->
	
	<!-- 指定项目欢迎的首界面 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>